
.header_row {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header_row_nav";
  grid-area: header_row;
}

.header_row_nav {
  grid-area: header_row_nav;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
body {
  padding-top: 50px;
}

/*Nav Menu Container - This will be consistent across all pages and contained in the header grid*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* home link is a unique style/font so that it stands out as the logo/brand of the website */
.home-link {
  color: #000000;
  text-decoration: none;
  font-family: 'Krona One', sans-serif;
}

.navbar-item a {
  text-decoration: none;
  color: #406e6b;
  font-weight: 500;
  padding: 5px 10px;
}

/*included hover functionality to each anchor link to make it easy for users to see where the link will take them */
.navbar-item a:hover,
.navbar-link.active {
  color: #d09d82;
  border-bottom: 2px solid #d09d82
}

#navbar-menu {
  position: fixed;
  width: 70%;
  top: 70px;
  left: 30%;
  right: 0;
  bottom: 1;
  z-index: 1;
}

.navbar-links {
  list-style: none;
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding-bottom: 1em;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Reusable style for each menu bar */
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: #000000;
}

/* Set the colour of the menu bars when hovered */
#navbar-toggle:hover .icon-bar {
  background-color: #000000;
}

#navbar-toggle.active .icon-bar:first-child,
#navbar-toggle.active .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

/*change the hambuger to an "x" so the user knows how to close the menu */
#navbar-toggle.active .icon-bar:first-child {
  transform: rotate(45deg);
}

/* Hide the middle menu bar */
#navbar-toggle.active .icon-bar:nth-child(2) {
  opacity: 0;
}

/* Rotate the bottom menu bar */
#navbar-toggle.active .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  opacity: 0;
}

#navbar-toggle.active+#navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}


/* Media Query for larger devices for the navbar */
@media screen and (min-width: 720px) {

  /* Hide the menu toggle button */
  #navbar-toggle {
    display: none;
  }

  /* Set the menu to it's normal display type and position */
  #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
    width: auto;
  }

  /* Set the menu list element to it's normal position, using flexbox to horizontally layout the link items */
  .navbar-links {
    margin: 0;
    padding: 0;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}